hostname {{ host.name }}
ip domain-name {{ host.domain }}
!
!
{% if host.dhcp is defined %}
{% for pool in host.dhcp %}
ip dhcp pool {{ pool.name }}
 network {{ pool.subnet }} {{ pool.netmask }}
 default-router {{ pool.gateway }}
 {%if pool.dns is defined %}
 dns-server {{ pool.dns }}
 {% else %}
 dns-server 8.8.8.8
 {% endif %}
{% endfor %}
{% endif %}
!
{% for interface in host.interfaces %}
interface {{ interface.name }}
 description {{ interface.description }}
 ip address {{ interface.ip }} {{ interface.net }}
 no shutdown
{% endfor %}
!
!
router bgp {{ host.asn }}
 bgp log-neighbor-changes
 {% for pool in host.dhcp %}
 network {{ pool.subnet }} mask {{ pool.netmask }}
 {% endfor %}
 neighbor {{ host.neighbor }} remote-as {{ host.neighbor_asn }}
!
!
{% for user in host.users %}
username {{ user.name }} privilege {{ user.privilege }} password {{ user.pass }}
{% endfor %}
!
ip ssh version 2
!
crypto key generate rsa modulus 1024
!
line vty 0 4
 login local
 transport input ssh telnet
 logging synchronous
!
line console 0
 logging synchronous
!
logging console 7