router bgp {{ host['asn'] }}
{% for neighbor in host['neighbors'] %}
  neighbor {{ neighbor }} remote-as {{ host.asn }}
  neighbor {{ neighbor }} update-source lo0
  address-family vpnv4
    neighbor  {{ neighbor }} activate
    neighbor {{ neighbor }} send-community extended
    exit
  !
{% endfor %}
!
!
